@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* *{outline:1px solid} */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  display: block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
  max-width: 100%;
  background: white;
}

@media (max-width: 768px) {
  .header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 84px;
    margin-top: 0;
  }
}

@media (max-width: 375px) {
  .header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 84px;
    margin-top: 0;
  }
}

.header a {
  display: block;
  color: #3f5d45;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

.header a:hover {
  color: #3f5d45;
}

.header i {
  font-size: 32px;
  padding: 25px;
}

.header i:hover {
  background: #3f5d45;
  color: white;
}

@media (max-width: 768px) {
  .header i {
    font-size: 28px;
  }
}

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 768px) {
  .header-menu-list {
    display: none;
    max-height: 0px;
    overflow: hidden;
  }
}

.header-menu-list a {
  display: block;
  padding: 30px;
  text-align: center;
}

.header-menu-list a:hover {
  background: #3f5d45;
  color: white;
}

.menu-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 84px;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  background: #EAF0ED;
  height: 60px;
  -webkit-transition: 1s;
  transition: 1s;
}

.header-logo {
  display: block;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8a71940d3cd9c932e7126e75e093f68f3a861b79/student-week1/logo-all-dark.svg");
  height: 40px;
  width: 210px;
  background-repeat: no-repeat;
  background-position: left;
}

@media (max-width: 768px) {
  .header-logo {
    margin: 0 auto;
    height: 20px;
    width: 115px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8a71940d3cd9c932e7126e75e093f68f3a861b79/student-week1/logotype-sm-dark.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
}

@media (max-width: 768px) {
  .header-menu {
    margin: 0;
  }
  .header-menu a {
    display: block;
    padding: 18px;
  }
  .header-menu a:hover {
    background: #3f5d45;
    color: white;
  }
}

.show-menu {
  display: none !important;
}

@media (max-width: 768px) {
  .show-menu {
    display: block !important;
  }
}

/*表頭end*/
/*表尾start*/
/*mail 及footer*/
.mail {
  background: #3F5D45;
}

.mail .container {
  padding-top: 42px;
  padding-bottom: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .mail .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mail .container img {
  border-radius: 50%;
  max-height: 40px;
  margin-right: 20px;
}

.mail .container p {
  color: #EAF0ED;
  font-size: 24px;
  line-height: 1;
}

.mail-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mail-logo p {
  margin-bottom: 0;
}

.mail-subscribe {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #EAF0ED;
  min-width: 315px;
  line-height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .mail-subscribe {
    width: 80%;
    margin-top: 33px;
  }
}

.mail-subscribe label {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 30%;
}

.mail-subscribe label i {
  color: #3f5d45;
  display: block;
}

.mail-subscribe input {
  width: 100%;
  padding-left: 60px;
  height: 56px;
  font-size: 16px;
  background: #EAF0ED;
  color: #8DA291;
  border: none;
}

.mail-subscribe input:focus {
  outline: #FFE180 3px solid;
}

.mail-subscribe i {
  color: #3f5d45;
  margin-left: 20px;
}

.mail-send {
  width: 64px;
  background: #FFE180;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mail-send i {
  line-height: 56px;
  display: block;
  margin-left: 16px;
}

.mail-send a:hover {
  background: #f08300;
}

.footer {
  background: #EAF0ED;
}

@media (max-width: 768px) {
  .footer {
    padding-left: 30px;
  }
}

.footer-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-slogan {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #3f5d45;
  font-size: 36px;
  line-height: 1.5;
  font-family: 'Noto Serif TC', serif;
  letter-spacing: 6px;
  margin-top: 30px;
}

@media (max-width: 375px) {
  .footer-slogan {
    display: none;
  }
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.footer-logo p {
  color: #3f5d45;
  font-size: 16px;
  line-height: 1.5;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 30px;
  color: #3f5d45;
  font-family: 'Times New Roman', Times, serif;
}

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-link img {
  width: 32px;
  margin-right: 8px;
}

.footer-link a:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.order-wrap {
  width: 35%;
  background: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (max-width: 768px) {
  .order-wrap {
    display: none;
  }
}

.order {
  border: 1px solid #EAF0ED;
  color: #8DA291;
  margin-bottom: 20px;
}

.order h2 {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  line-height: 3;
  margin-bottom: 16px;
  background: #EAF0ED;
}

.order-info {
  padding-left: 20px;
  padding-right: 20px;
}

.sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 8px;
}

.freight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 16px;
}

.total-sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
  font-weight: bold;
}

.shopping-cart {
  border: 1px solid #EAF0ED;
  color: #8DA291;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .shopping-cart {
    display: none;
  }
}

.shopping-cart h2 {
  height: 65px;
  background: #EAF0ED;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 65px;
}

.cart-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .product {
    margin-right: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #EAF0ED;
  }
}

.product-img {
  height: 80px;
  width: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 20px;
  margin-left: 20px;
}

.img1 {
  background-image: url("https://chupai.github.io/Sweetaste/img/product/product8.jpg");
}

.img2 {
  background-image: url("https://chupai.github.io/Sweetaste/img/product/product2.jpg");
}

.img3 {
  background-image: url("https://chupai.github.io/Sweetaste/img/product/product7.jpg");
}

.product-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .product-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product-info {
  margin-right: 38px;
}

@media (max-width: 768px) {
  .product-info {
    margin-bottom: 8px;
  }
}

.product-name {
  color: #3f5d45;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

.product-total-price {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
}

a {
  text-decoration: none !important;
}

.checkout-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  max-width: 940px !important;
}

.shipment {
  width: 60%;
  background: #3f5d45;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 30px;
  margin-right: 2%;
}

@media (max-width: 768px) {
  .shipment {
    width: 100% !important;
    margin-bottom: 0px;
    margin-top: 84px;
    margin-right: 0;
  }
}

.shipment h2 {
  font-size: 36px;
  line-height: 50px;
  color: white;
}

.shipment a {
  text-decoration: none;
  display: block;
  width: 100%;
  background: #FFE180;
  color: #3f5d45;
  font-weight: bold;
  font-size: 24px;
  line-height: 65px;
  text-align: center;
}

.shipment a:hover {
  background: #f08300;
  color: #3f5d45;
}

.title {
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 30px;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title img {
  width: 50%;
}

form {
  width: 100%;
  padding-left: 4%;
  padding-right: 4%;
}

fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 16px;
}

fieldset label {
  font-size: 20px;
  color: #EAF0ED;
  line-height: 28px;
  font-weight: bold;
}

fieldset input {
  margin-top: 8px;
  margin-bottom: 16px;
  line-height: 56px;
  background: #EAF0ED;
  color: #8DA291;
  border: none;
}

fieldset input:focus {
  outline: #FFE180 3px solid;
}

fieldset select {
  height: 56px;
  margin-bottom: 8px;
  background: #EAF0ED;
  color: #8DA291;
  border: none;
}

fieldset select:focus {
  outline: #FFE180 3px solid;
}

.w-50 {
  width: 48%;
}

.w-100 {
  width: 98%;
}

.mr-1 {
  margin-right: 1%;
}

.invoice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
}

.btn-invoice {
  color: #EAF0ED !important;
  border: #EAF0ED 1px solid !important;
  border-radius: 0 !important;
  font-size: 20px !important;
  line-height: 56px !important;
  padding: 0 !important;
}

.btn-check:active + .btn-outline-primary, .btn-check:checked + .btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active, .btn-outline-primary:hover {
  background-color: #EAF0ED !important;
  color: #3f5d45 !important;
  font-weight: bold !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
/*# sourceMappingURL=checkout-invoice.css.map */